body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    background-image: url("../resources/Night-City-4K-Wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin:0px;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: white;
}
header>a{
    font-family: 'Crete Round',serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    background: grey;
    background:linear-gradient(to right,rgb(96,119,139),white);
    padding:5px;
    box-sizing: border-box;
}
#location{
background-image:url('http://i47.tinypic.com/r02vbq.png');
background-repeat:no-repeat;
background-position:right center;outline:0;
line-height: 25px;
}
#tag_line{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color:rgb(211,211,211);
    font-size:30px;
    font-weight: bolder;
}
header>a>span{
    color:white !Important;
}
body>section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    background-repeat: no-repeat; 
    padding: 50px;
}
body>section>form{
    background: rgba(96,125,139,0.17);
    border-radius:8px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 80%;
}
fieldset{
    border: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}
fieldset>.row-items
{
    display: flex;
    flex-flow: row wrap;
    align-items : center;
    justify-content: space-between;
}
#secondaryElementsContainer{
    border: 0px;
    display: none;
}
.culturedText{
    vertical-align: sub;
    color: lightgrey;
    margin-left: 8px;
    font-style: italic;
}
.hiddenText{
    display: none;
}
#childcount {
	display: block;
}
adultcount {
	display: block;
}
#hotel-search-form {
    background: rgba(211,211,211,0.8);
	padding: 10px;
}