body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    background-image: url("../resources/Night-City-4K-Wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin:0px;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: white;
}
header>a{
    font-family: 'Crete Round',serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 2em;
    background: grey;
    background:linear-gradient(to right,rgb(96,119,139),white);
    padding:5px;
    box-sizing: border-box;
}
#location{
background-image:url('http://i47.tinypic.com/r02vbq.png');
background-repeat:no-repeat;
background-position:right center;outline:0;
line-height: 25px;
}

#tag_line{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color:rgb(211,211,211);
    font-size:30px;
    font-weight: bolder;
}
header>a>span{
    color:white !Important;
}
body>section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    background-repeat: no-repeat; 
    padding: 50px;
}
body>section>form{
    border-radius:8px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
}
fieldset{
    border: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-around;
}
fieldset>.row-items{
    
    display: flex;
    flex-flow: row wrap;
    align-items : flex-start;
    justify-content: space-around;
}
fieldset>.column-items
{
   
    display: flex;
    flex-flow: column wrap;
    align-items : flex-start;
    justify-content: space-around;
}
#secondaryElementsContainer{
    border: 0px;
   display: none;
}
.culturedText{
    vertical-align: sub;
    color: lightgrey;
    margin-left: 8px;
    font-style: italic;
}
.hiddenText{
    display: none;
}
#hotel-search-form {
    background: rgba(211,211,211,0.8);
	padding: 10px;
}
main,#hotels-list-container{
     
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: space-around;
}
.itinerary{
    background: rgba(211,211,211,0.8);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60%;
    min-height: 250px;
	display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content:space-between;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 0.2s ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 0.2s ease-in;
    -moz-transform: scale(1);
    transition: all 0.2s ease-in;
    transform: scale(1);   

}
.itinerary>td{
    flex: 1;
}
.itinerary:hover{
    box-shadow: rgb(66, 73, 73) 5px 5px 3px;
    -webkit-transition: all 0.2s ease-in;
    -webkit-transform: scale(0.5,0,5);
    -ms-transition: all 0.2s ease-in;
    -ms-transform: scale(0.5,0,5);   
    -moz-transition: all 0.2s ease-in;
    -moz-transform: scale(0.5,0,5);
    transition: all .2s ;
    transform: scale(0.5,0,5);
    
}
.hero-image{
    max-width: 100%;
    max-height: 100%;
    }
